        <div id="google_map_api_div" class="col-md-8">
        </div>
        <div class="col-md-4">
          <br />
          <form id="new_project_form" action="/create_project?next_page={{ next_page }}" method="post">
            <input hidden id="coordinate_set" name="coordinate_set" value="[]">
            <p class="text"> Polygones </p>
            <div id="polygones_div"></div>
            {% csrf_token %}
            <div class="input-group">
              <span class="input-group-addon">Project Name</span>
              <input required id="new_project_name" name="new_project_name" type="text" class="form-control" placeholder="Project name">
            </div>
            <div class="actions">
              <input type="submit" name="commit" value="Create Project" class="btn btn-primary" />
            </div>
          </form>
        </div>