<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">

  <head>
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" media="all" href="/static/stylesheets/layout.css" />
    <link rel="stylesheet" media="all" href="/static/stylesheets/bootstrap.css?body=1" />
    <script src="/static/js/layout.js" type="text/javascript"></script>
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Garden Projects</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span> 
                {{ user.login }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
{% if user.is_logged %}
                <li>
                  <a href="/home">
                    <span class="glyphicon glyphicon-home"></span> 
                    home
                  </a>
                </li>
                <li>
                  <a href="/account">
                    <span class="glyphicon glyphicon-cog"></span> 
                    settings
                  </a>
                </li>
                <li>
                  <a href="/logout">
                    <span class="glyphicon glyphicon-log-out"></span> 
                    logout
                  </a>
                </li>
{% else %}
                <li>
                  <a data-toggle="modal" href="#login_form_modal">
                    <span class="glyphicon glyphicon-log-in"></span> 
                    login
                  </a>
                </li>
                <li>
                  <a data-toggle="modal" href="#register_form_modal">
                    <span class="glyphicon glyphicon-check"></span> 
                    register
                  </a>
                </li>
{% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="main_layout_container" class="container">
{% if error %}
      <div class="container">
        <div id="flash_notice" class="col-xs-4 col-xs-push-4">
          <button id="global_info_alert" type="button" class="close">&times;</button>
          <div class="alert alert-success">
            <p id="alert_info_text">
              {{ error }}
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="col-xs-12">
{% endif %}
{% block content %} {% endblock %}
        </div>
      </div>
    </div>
    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>
              Created with love by some loosers - Under
              <a href="https://www.gnu.org/copyleft/gpl.html">GNU GPL</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
{% if user.is_logged is False %}
    <div class="modal fade" id="login_form_modal" tabindex="-1" role="dialog" aria-labelledby="login_form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <form id="login_form" action="/login" method="post">
              {% csrf_token %}
              <div class="input-group">
                <span class="input-group-addon">login</span>
                <input type="text" name="login" class="form-control" placeholder="Login (username)">
              </div>
              <br />
              <div class="input-group">
                <span class="input-group-addon">password</span>
                <input id="user_password" name="password" type="password" class="form-control" placeholder="password">
              </div>
            <button hidden id="submit_login" type="submit">Register</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="submit_login_form_button" type="button" class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="register_form_modal" tabindex="-1" role="dialog" aria-labelledby="register_form" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Register</h4>
          </div>
          <div class="modal-body">
            <form id="register_form" action="/register" method="post">
              {% csrf_token %}
              <div class="input-group">
                <span class="input-group-addon">Login</span>
                <input required id="register_user_login" name="register_user_login" type="text" class="form-control" placeholder="Login (username)">
              </div>
              <br />
              <div class="input-group">
                <span class="input-group-addon">E-m@il</span>
                <input required id="register_user_mail" name="register_user_mail" type="email" class="form-control" placeholder="Mail">
              </div>
              <br />
              <div class="input-group">
                <span class="input-group-addon">Password</span>
                <input required id="register_user_password" name="register_user_password" type="password" class="form-control" placeholder="password" AUTOCOMPLETE='OFF'>
              </div>
              <br />
              <div class="input-group">
                <span class="input-group-addon">password</span>
                <input required id="register_user_password_verif" name="register_user_password_verif" type="password" class="form-control" placeholder="password (verification)" AUTOCOMPLETE='OFF'>
              </div>
            <button hidden id="submit_register" type="submit">Register</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="submit_register_form_button" type="button" class="btn btn-primary">Register</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}
  </body>

</html>