<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<!-- La clé ! 	AIzaSyC9GyUcvmw83cQ2l5EC01Sn_87WbMZRmA8 
	16 Mars		AIzaSyCt2Sw46PUXm2hF_e4yrztN0ogH44yeTFk
-->

	<head>
		<title>Page API Gmaps</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt2Sw46PUXm2hF_e4yrztN0ogH44yeTFk&amp;callback=initMap" type="text/javascript"></script>
	</head>

	<body onload="initialize(document)">
  		<button onclick="takePicture(document, map)">Prendre la photo</button> 
		<div id="divMap" style="width:600px; height:400px"></div>
	<script type="text/javascript" src="../../static/GardenManager/js/script_map.js"></script>	<!-- TODO Relati to obsolute -->
	</body>
</html>










